AML_Projects/Connected Services/Aml_Customer_Services/cust_services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_pageval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upload_file" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdata_login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdata_loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getdata_loginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>