AML_Projects/Connected Services/Aml_Customer_Services/cust_services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cust_services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_Icust_services_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hoapps.manappuram.net/Aml_Customer_Services/cust_services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hoapps.manappuram.net/Aml_Customer_Services/cust_services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hoapps.manappuram.net/Aml_Customer_Services/cust_services.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Icust_services_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="Icust_services_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="Icust_services_DataUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:DataUpload" />
  </wsdl:message>
  <wsdl:message name="Icust_services_DataUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataUploadResponse" />
  </wsdl:message>
  <wsdl:message name="Icust_services_getdata_login_InputMessage">
    <wsdl:part name="parameters" element="tns:getdata_login" />
  </wsdl:message>
  <wsdl:message name="Icust_services_getdata_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdata_loginResponse" />
  </wsdl:message>
  <wsdl:portType name="Icust_services">
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/Icust_services/GetDetails" message="tns:Icust_services_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icust_services/GetDetailsResponse" message="tns:Icust_services_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/Icust_services/DataUpload" message="tns:Icust_services_DataUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icust_services/DataUploadResponse" message="tns:Icust_services_DataUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdata_login">
      <wsdl:input wsaw:Action="http://tempuri.org/Icust_services/getdata_login" message="tns:Icust_services_getdata_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icust_services/getdata_loginResponse" message="tns:Icust_services_getdata_login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Icust_services" type="tns:Icust_services">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/Icust_services/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataUpload">
      <soap:operation soapAction="http://tempuri.org/Icust_services/DataUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata_login">
      <soap:operation soapAction="http://tempuri.org/Icust_services/getdata_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_Icust_services" type="tns:Icust_services">
    <wsp:PolicyReference URI="#BasicHttpsBinding_Icust_services_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/Icust_services/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataUpload">
      <soap:operation soapAction="http://tempuri.org/Icust_services/DataUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata_login">
      <soap:operation soapAction="http://tempuri.org/Icust_services/getdata_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cust_services">
    <wsdl:port name="BasicHttpBinding_Icust_services" binding="tns:BasicHttpBinding_Icust_services">
      <soap:address location="http://hoapps.manappuram.net/Aml_Customer_Services/cust_services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_Icust_services" binding="tns:BasicHttpsBinding_Icust_services">
      <soap:address location="https://hoapps.manappuram.net/Aml_Customer_Services/cust_services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>