AML_Projects/Connected Services/ITSM_Service/ITSM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ITSM" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.111/ITSMservice/ITSM.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.111/ITSMservice/ITSM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.111/ITSMservice/ITSM.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IITSM_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IITSM_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IITSM_DataUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:DataUpload" />
  </wsdl:message>
  <wsdl:message name="IITSM_DataUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IITSM_getdata_login_InputMessage">
    <wsdl:part name="parameters" element="tns:getdata_login" />
  </wsdl:message>
  <wsdl:message name="IITSM_getdata_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdata_loginResponse" />
  </wsdl:message>
  <wsdl:portType name="IITSM">
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSM/GetDetails" message="tns:IITSM_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSM/GetDetailsResponse" message="tns:IITSM_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSM/DataUpload" message="tns:IITSM_DataUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSM/DataUploadResponse" message="tns:IITSM_DataUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdata_login">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSM/getdata_login" message="tns:IITSM_getdata_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSM/getdata_loginResponse" message="tns:IITSM_getdata_login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IITSM" type="tns:IITSM">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IITSM/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataUpload">
      <soap:operation soapAction="http://tempuri.org/IITSM/DataUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata_login">
      <soap:operation soapAction="http://tempuri.org/IITSM/getdata_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITSM">
    <wsdl:port name="BasicHttpBinding_IITSM" binding="tns:BasicHttpBinding_IITSM">
      <soap:address location="http://10.0.0.111/ITSMservice/ITSM.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>