AML_Projects/Connected Services/TMS_Service/TMS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TMS_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.111/MafilService/TMS_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.111/MafilService/TMS_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.111/MafilService/TMS_Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITMS_Service_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryFillData_InputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryFillData" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryFillData_OutputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryFillDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TresuryConfirmations_InputMessage">
    <wsdl:part name="parameters" element="tns:TresuryConfirmations" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TresuryConfirmations_OutputMessage">
    <wsdl:part name="parameters" element="tns:TresuryConfirmationsResponse" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryFillingData_InputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryFillingData" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryFillingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryFillingDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryConfirm" />
  </wsdl:message>
  <wsdl:message name="ITMS_Service_TreasuryConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TreasuryConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="ITMS_Service">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/DoWork" message="tns:ITMS_Service_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/DoWorkResponse" message="tns:ITMS_Service_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/TestService" message="tns:ITMS_Service_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/TestServiceResponse" message="tns:ITMS_Service_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TreasuryFillData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryFillData" message="tns:ITMS_Service_TreasuryFillData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryFillDataResponse" message="tns:ITMS_Service_TreasuryFillData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TresuryConfirmations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/TresuryConfirmations" message="tns:ITMS_Service_TresuryConfirmations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/TresuryConfirmationsResponse" message="tns:ITMS_Service_TresuryConfirmations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TreasuryFillingData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryFillingData" message="tns:ITMS_Service_TreasuryFillingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryFillingDataResponse" message="tns:ITMS_Service_TreasuryFillingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TreasuryConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryConfirm" message="tns:ITMS_Service_TreasuryConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMS_Service/TreasuryConfirmResponse" message="tns:ITMS_Service_TreasuryConfirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITMS_Service" type="tns:ITMS_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TreasuryFillData">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/TreasuryFillData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TresuryConfirmations">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/TresuryConfirmations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TreasuryFillingData">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/TreasuryFillingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TreasuryConfirm">
      <soap:operation soapAction="http://tempuri.org/ITMS_Service/TreasuryConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TMS_Service">
    <wsdl:port name="BasicHttpBinding_ITMS_Service" binding="tns:BasicHttpBinding_ITMS_Service">
      <soap:address location="http://10.0.0.111/MafilService/TMS_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>